*.o
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.dat
*.cmake
*.pyc
*.asv
*.DS_Store
bin/
cubin/
/misc/
.vscode/
.idea/
*/*log/
temp*
*.pdf
src/trslt/
src/rslts/
src/*/tests/testResult/
src/*/utilities/js*
src/config.mk
nohup*
*~*
