*.o
*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.dat
*.cmake
*.pyc
*.asv
*.DS_Store
bin/
cubin/
/misc/
.vscode/
.idea/
temp*
*.pdf
src/*/trslt/*.json
src/*/rslts/*.json
src/*/tests/testResult/
src/*/utilities/js*
src/config.mk
nohup*
*~*
